h1{
    color:aqua;
}
#h2{
    color: palevioletred;
}

.h3{
    color: greenyellow;
}

.p{
    background: wheat;
    color: red;
    border: 1px double blueviolet;

}

.background1{
    background-image: url(cat.jpg);
    background-repeat: no ;
    height: 540px;

}


.link{
    text-decoration: none;
    color: red;
}
.link:visited{
    color: pink;
}
.link:hover{
    background-color: blue;
}